---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [16]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [17]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [18]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    unitown = pd.read_csv('C:/Users/copla/Desktop/Python/Intro-to-Data-Science-in-Python/ClassNotebooks/university_towns.txt', sep='\n', header=None, names=['RegionName'])
    unitown['State'] = np.where(unitown['RegionName'].str.contains('edit'), unitown['RegionName'], np.NaN)
    #rearrange columns
    unitown = unitown[['State','RegionName']]
    #fill state names with appropriate state
    unitown['State'].fillna(method='ffill',inplace=True)
    #loop through columns and split the uni and state identifiers
    for col in unitown: 
        unitown[col] = unitown[col].str.split('(',expand=True)[0].str.split('[',expand=True)[0].str.rstrip()
    
    #remove where state and region names are the same
    unitown.drop(unitown[unitown['State'] == unitown['RegionName']].index, inplace=True)
    
    return unitown

get_list_of_university_towns()

             State                    RegionName
1          Alabama                        Auburn
2          Alabama                      Florence
3          Alabama                  Jacksonville
4          Alabama                    Livingston
5          Alabama                    Montevallo
6          Alabama                          Troy
7          Alabama                    Tuscaloosa
8          Alabama                      Tuskegee
10          Alaska                     Fairbanks
12         Arizona                     Flagstaff
13         Arizona                         Tempe
14         Arizona                        Tucson
16        Arkansas                   Arkadelphia
17        Arkansas                        Conway
18        Arkansas                  Fayetteville
19        Arkansas                     Jonesboro
20        Arkansas                      Magnolia
21        Arkansas                    Monticello
22        Arkansas                  Russellville
23        Arkansas                        Searcy
25      California                        Angwin
26      California                        Arcata
27      California                      Berkeley
28      California                         Chico
29      California                     Claremont
30      California                        Cotati
31      California                         Davis
32      California                        Irvine
33      California                    Isla Vista
34      California  University Park, Los Angeles
..             ...                           ...
533       Virginia                          Wise
534       Virginia                    Chesapeake
536     Washington                    Bellingham
537     Washington                        Cheney
538     Washington                    Ellensburg
539     Washington                       Pullman
540     Washington  University District, Seattle
542  West Virginia                        Athens
543  West Virginia                    Buckhannon
544  West Virginia                      Fairmont
545  West Virginia                     Glenville
546  West Virginia                    Huntington
547  West Virginia                    Montgomery
548  West Virginia                    Morgantown
549  West Virginia                 Shepherdstown
550  West Virginia                  West Liberty
552      Wisconsin                      Appleton
553      Wisconsin                    Eau Claire
554      Wisconsin                     Green Bay
555      Wisconsin                     La Crosse
556      Wisconsin                       Madison
557      Wisconsin                     Menomonie
558      Wisconsin                     Milwaukee
559      Wisconsin                       Oshkosh
560      Wisconsin                   Platteville
561      Wisconsin                   River Falls
562      Wisconsin                 Stevens Point
563      Wisconsin                      Waukesha
564      Wisconsin                    Whitewater
566        Wyoming                       Laramie

[517 rows x 2 columns]

In [19]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    #columns to use for dataframe
    cols = [4,5,6]    #select columns required for dataframe
    #import dataframe and define dataframe
    gdp = pd.read_excel('C:/Users/copla/Desktop/Python/Intro-to-Data-Science-in-Python/ClassNotebooks/gdplev.xls',sheet_name=0, usecols=cols, header=6, skiprows=213, index_col=0)
    #rename index
    gdp.index.name = 'Fiscal Quater'
    #rename columns
    gdp.columns = ('Current Dollars (GDP)', 'Chained 2009 Dallars (GDP)')
    #create column for differences between periods
    gdp['Diff'] = gdp['Chained 2009 Dallars (GDP)'].diff()
    #identify the decline in GDP
    GDPdecline = gdp.where(gdp['Diff']<0)
    #create a row number to identify consecutive periods for the start of recession 
    GDPdecline['RN'] = np.arange(len(gdp))
    #drop NaNs
    GDPdecline = GDPdecline.dropna()
    #create a difference between remaining row numbers (compare row with next row)
    GDPdecline['RNDiff'] = GDPdecline['RN'].diff(periods=-1)
    #identify where recession starts
    RecStart = GDPdecline.where(GDPdecline['RNDiff'] == -1)
    #return index of recession start GDP
    return RecStart['RNDiff'].idxmin()
get_recession_start()

ImportError: Install xlrd >= 1.0.0 for Excel support

In [0]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''

    #columns to use for dataframe
    cols = [4,5,6]    #select columns required for dataframe
    gdp = pd.read_excel('C:/Users/copla/Desktop/Python/Intro-to-Data-Science-in-Python/ClassNotebooks/gdplev.xls',sheet_name=0, usecols=cols, header=6, skiprows=213, index_col=0)
    gdp.index.name = 'Fiscal Quater'
    gdp.columns = ('Current Dollars (GDP)', 'Chained 2009 Dallars (GDP)')
    gdp['Diff'] = gdp['Chained 2009 Dallars (GDP)'].diff()
    #identify GDP incline as greater than 0 and from a period after recession had started
    GDPincline = gdp.where((gdp['Diff']>0) & (gdp.index > get_recession_start())) 
    GDPincline['RN'] = np.arange(len(gdp))
    GDPincline = GDPincline.dropna()

    GDPincline['RNDiff'] = GDPincline['RN'].diff(periods=1)

    RecEnd = GDPincline.where(GDPincline['RNDiff'] == 1)

    return RecEnd['RNDiff'].idxmax()
       
get_recession_end()

In [0]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    #columns to use for dataframe
    cols = [4,5,6]    #select columns required for dataframe
    gdp = pd.read_excel('C:/Users/copla/Desktop/Python/Intro-to-Data-Science-in-Python/ClassNotebooks/gdplev.xls',sheet_name=0, usecols=cols, header=6, skiprows=213, index_col=0)
    gdp.index.name = 'Fiscal Quater'
    gdp.columns = ('Current Dollars (GDP)', 'Chained 2009 Dollars (GDP)')

    #bottom = gdp.between(get_recession_start(),get_recession_end())
    #bottom = gdp.where((gdp.index >= get_recession_start()) & (gdp.index <= get_recession_end()))

    start_index = gdp.loc[gdp.index == get_recession_start()].index
    end_index = gdp.loc[gdp.index == get_recession_end()].index
    gdp['Quater'] = gdp.index
    bottom = gdp.where((gdp['Quater'] > get_recession_start()) & (gdp['Quater'] < get_recession_end()))
    bottom = bottom.dropna() 
    
    return bottom['Chained 2009 Dollars (GDP)'].idxmin()
get_recession_bottom()

In [26]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''

    housing = pd.read_csv('C:/Users/copla/Desktop/Python/Intro-to-Data-Science-in-Python/ClassNotebooks/City_Zhvi_AllHomes.csv')

    #Drop Columns that are not needed
    start = housing.columns.get_loc('1996-04')
    end = housing.columns.get_loc('2000-01')
    housing = housing.drop(housing.columns[start:end],axis=1)

    #date = date.split('-')
    
    return housing

convert_housing_data_to_quarters()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,2000-01,2000-02,2000-03,2000-04,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,204400.0,207000.0,209800.0,212300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,136800.0,138300.0,140100.0,141900.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,52700.0,53100.0,53200.0,53400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,111000.0,111700.0,112800.0,113700.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
5,18959,Las Vegas,NV,Las Vegas,Clark,6,131700.0,132600.0,133500.0,134100.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
6,54296,San Diego,CA,San Diego,San Diego,7,219200.0,222900.0,226600.0,230200.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
7,38128,Dallas,TX,Dallas-Fort Worth,Dallas,8,85100.0,84500.0,83800.0,83600.0,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
8,33839,San Jose,CA,San Jose,Santa Clara,9,364100.0,374000.0,384700.0,395700.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
9,25290,Jacksonville,FL,Jacksonville,Duval,10,88000.0,88800.0,89000.0,88900.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
10,20330,San Francisco,CA,San Francisco,San Francisco,11,418700.0,430600.0,442200.0,453600.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
11,10221,Austin,TX,Austin,Travis,12,142500.0,143000.0,143400.0,143900.0,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
12,17762,Detroit,MI,Detroit,Wayne,13,64400.0,66200.0,67900.0,68900.0,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
13,10920,Columbus,OH,Columbus,Franklin,14,93800.0,94400.0,94900.0,95400.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
14,32811,Memphis,TN,Memphis,Shelby,15,72400.0,72500.0,72600.0,72900.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
15,24043,Charlotte,NC,Charlotte,Mecklenburg,16,126600.0,126900.0,127300.0,127800.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
16,17933,El Paso,TX,El Paso,El Paso,17,75900.0,76300.0,76600.0,76900.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
17,44269,Boston,MA,Boston,Suffolk,18,203100.0,206900.0,210800.0,214700.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
18,16037,Seattle,WA,Seattle,King,19,246100.0,248800.0,250900.0,252900.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
19,3523,Baltimore,MD,Baltimore,Baltimore City,20,59300.0,59700.0,60000.0,59800.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
20,11093,Denver,CO,Denver,Denver,21,160600.0,162200.0,163900.0,165800.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
21,41568,Washington,DC,Washington,District of Columbia,22,136200.0,137900.0,139200.0,140900.0,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
22,6118,Nashville,TN,Nashville,Davidson,23,113100.0,113900.0,114500.0,115000.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
23,5976,Milwaukee,WI,Milwaukee,Milwaukee,24,77600.0,78100.0,78400.0,78600.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
24,7481,Tucson,AZ,Tucson,Pima,25,101500.0,101900.0,102100.0,102500.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
25,13373,Portland,OR,Portland,Multnomah,26,152300.0,152800.0,153300.0,153800.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
26,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,27,76000.0,76400.0,76900.0,77200.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
27,40152,Omaha,NE,Omaha,Douglas,28,112400.0,112800.0,113200.0,113400.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
28,23429,Albuquerque,NM,Albuquerque,Bernalillo,29,125300.0,125800.0,126500.0,126700.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
29,18203,Fresno,CA,Fresno,Fresno,30,93300.0,94300.0,94700.0,94800.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10700,49199,Granite Shoals,TX,NaN,Burnet,10701,NaN,NaN,NaN,NaN,...,128200,129900,131500,133700,136100,137900,139700,142600,145700,147200
10701,49693,Piney Point,MD,California-Lexington Park,Saint Marys,10702,155300.0,156200.0,155500.0,154300.0,...,309800,312600,315900,319900,322700,323600,324300,324600,324500,324700
10702,50374,Maribel,WI,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,...,129100,129700,128900,127600,127000,127800,129300,130700,132900,135500
10703,50539,Middleton,ID,Boise City,Canyon,10704,106700.0,105600.0,105900.0,105500.0,...,151100,152300,153200,154000,154500,155500,157200,158800,160100,161400
10704,50963,Bennett,CO,Denver,Adams,10705,131600.0,133100.0,134000.0,134700.0,...,195700,197400,198500,199400,201400,204500,207700,210200,211900,213300
10705,51793,East Hampstead,NH,Boston,Rockingham,10706,160000.0,161800.0,163700.0,166300.0,...,269600,270600,271200,272400,274000,275800,277800,279800,281700,283200
10706,52166,Garden City,MO,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,...,103600,104800,105200,105800,107800,110000,112000,113000,113500,113700
10707,53456,Mountainburg,AR,Fort Smith,Crawford,10708,54800.0,56800.0,59900.0,62500.0,...,90100,93400,96300,98600,100100,101200,101800,102700,103300,103500
10708,53730,Oostburg,WI,Sheboygan,Sheboygan,10709,106800.0,107300.0,107700.0,107400.0,...,132000,132500,132700,132600,133000,133700,134100,134500,135700,137000
10709,54771,Twin Peaks,CA,Riverside,San Bernardino,10710,96800.0,97000.0,98300.0,99800.0,...,159200,160600,162400,164400,165700,166300,167700,169900,172500,174500
10710,54802,Upper Brookville,NY,New York,Nassau,10711,1222500.0,1240300.0,1230100.0,1221900.0,...,1833700,1854900,1879300,1905900,1928300,1941800,1942000,1948400,1962600,1975000
10711,54995,Volcano,HI,Hilo,Hawaii,10712,98500.0,97400.0,100200.0,103700.0,...,232500,236400,239700,241800,244700,247800,249600,249500,248500,247200
10712,55072,Wedgefield,SC,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,...,69000,68500,68200,68500,69900,71900,74100,76800,79600,81800
10713,55210,Williamston,MI,Lansing,Ingham,10714,157400.0,159400.0,160700.0,160900.0,...,182700,181800,180800,181000,182600,182900,182200,182100,182800,183200
10714,55357,Decatur,AR,Fayetteville,Benton,10715,63600.0,63500.0,63700.0,64200.0,...,97200,97400,96900,96300,96300,96600,96600,96700,96900,96800
10715,55476,Briceville,TN,Knoxville,Anderson,10716,39000.0,40200.0,40800.0,41100.0,...,43200,41700,40800,40500,41100,41700,42000,41700,41100,40600
10716,55706,Edgewood,IN,Indianapolis,Madison,10717,91300.0,91800.0,92000.0,91500.0,...,100200,101100,100200,98900,99200,99600,99900,100400,101000,100900
10717,56183,Palmyra,TN,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,...,126400,127600,127300,127300,128400,130000,133000,135600,137000,138500
10718,56845,Saint Inigoes,MD,California-Lexington Park,Saint Marys,10719,148200.0,148400.0,147600.0,146700.0,...,277200,275800,276300,279500,282200,282900,282900,282100,281400,281400
10719,56943,Marysville,IN,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,...,119800,124100,127200,129500,128000,124800,122700,122200,123100,125300
10720,57212,Forest Falls,CA,Riverside,San Bernardino,10721,114200.0,113300.0,113100.0,114000.0,...,199700,195300,190400,187500,188000,190000,190600,189000,187100,186200
10721,171874,Bois D Arc,MO,Springfield,Greene,10722,106600.0,108400.0,108400.0,107500.0,...,149800,149100,148000,146900,145700,145000,143700,142600,143200,144800
10722,182023,Henrico,VA,Richmond,Henrico,10723,127800.0,128600.0,129300.0,130100.0,...,213800,215100,216000,216200,215900,215900,215900,216800,219000,221300
10723,188693,Diamond Beach,NJ,Ocean City,Cape May,10724,171300.0,173700.0,176900.0,180500.0,...,400100,401600,403100,405000,405500,404500,403800,403400,400700,397300
10724,227014,Gruetli Laager,TN,NaN,Grundy,10725,35500.0,35500.0,35200.0,35200.0,...,71800,72900,74500,75700,75800,75900,76600,76900,77200,77800
10725,398292,Town of Wrightstown,WI,Green Bay,Brown,10726,101100.0,101500.0,102700.0,103700.0,...,149900,150100,150300,150000,149200,149900,151400,152500,154100,155900
10726,398343,Urbana,NY,Corning,Steuben,10727,77600.0,79400.0,80600.0,80200.0,...,135700,136400,137700,138700,140500,143600,145000,144000,143000,143000
10727,398496,New Denmark,WI,Green Bay,Brown,10728,113900.0,114000.0,115800.0,117600.0,...,188700,189800,190800,191200,191200,191700,192800,194000,196300,198900
10728,398839,Angels,CA,NaN,Calaveras,10729,148000.0,151200.0,153800.0,155600.0,...,280400,279600,278000,276600,275000,273700,272000,269100,269000,270900
10729,399114,Holland,WI,Sheboygan,Sheboygan,10730,150800.0,151000.0,151300.0,151000.0,...,217800,219400,221100,222000,222800,224900,228000,231200,233900,236000

In [37]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"